<footer class="container-fluid fixed-bottom mt-5">
	<div class="row">
		<div class="d-flex justify-content-around">
			<div>
                <a href="#" class="copyright"><i class="fa-brands fa-instagram fa-lg" style="color: #03e9f4;"></i></a>
				<a href="#" class="copyright ms-3"><i class="fa-brands fa-x-twitter fa-lg" style="color: #03e9f4;"></i></a>
                <a href="#" class="copyright ms-3"><i class="fa-brands fa-square-facebook fa-lg" style="color: #03e9f4;"></i></a>
                <a href="#" class="copyright ms-3"><i class="fa-brands fa-discord fa-lg" style="color: #03e9f4;"></i></a>
			</div>
			<div>
				<p class="copyright"><i class="fa-regular fa-copyright fa-lg" style="color: #03e9f4;"></i> 2024 Gaming.shop</p>
			</div>
			<div>
				<a href="#" class="copyright">Mentions légales</a>
			</div>
		</div>

	</div>
</footer>
