<footer class="container-fluid fixed-bottom bg-dark">
    <div class="row">
        <section class="col">
            About
        </section>
        <section class="col">
            Contact
        </section>
        <section class="col">
            Mentions
        </section>
    </div>
</footer>