{% extends 'base.html.twig' %}

{% block title %}Modifier mon compte{% endblock %}

{% block body %}
    <main class="container my-5">
        <section class="row">
            <div class="col-6 mx-auto">
                <h1>Modifier mon compte</h1>
                {% include "profile/_form.html.twig" with {'button_label':'Modifier'} %}
                <a class="btn btn-dark mt-3" href="{{ path('app_profile_index') }}">Mon Compte</a>
                {{ include('profile/_delete_form.html.twig')}}
                
            </div>
        </section>
    </main>          
{% endblock %}
