{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
    <main class="container my-5">
        <section class="row">
            <div class="col-6 mx-auto">
                <h1>Mon compte</h1>
                <a href="{{ path('app_profile_edit', {id: user.id})}}">Modifier mon compte</a>
                <a href="#">Mes commandes</a>
            </div>
        </section>
    </main>
{% endblock %}
