{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<main class="container my-5">
		<section class="row">
			<div class="col-12 text-center">
				<h1>Gaming.shop</h1>
				<h3>Bienvenue dans le monde du gaming</h3>
			</div>

			<div class="card mb-3">
				<img src="..." class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Solde de Janvier</h5>
					<p class="card-text">Promo: -20% sur tout le site</p>
					<p class="card-text"><small class="text-body-secondary">Peridode: Du 10/01/2024 au 03/02/2024</small></p>
				</div>
			</div>

			{# <div class="card text-bg-dark">
				<img src="..." class="card-img" alt="...">
				<div class="card-img-overlay">
					<h5 class="card-title">Promo: -20% sur tout le site</h5>
					<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					<p class="card-text"><small>Peridode: Du 10/01/2024 au 03/02/2024</small></p>
				</div>
			</div> #}

			{% for category in categories %}
				{% if category.parent == null %}
					<div class="col-12 mt-5">
						<h2>{{ category.name }}</h2>
					</div>
				{% else %}
					<div class="col-lg-3 col-md-6 col-12 my-5">
						<div class="card h-100 box-reflect">
							<div class="card-body">
								<h3 class="card-title">{{ category.name }}</h3>
								<a href=" {{ path('categories_list', {slug: category.slug}) }} " class="btn btn-dark">Voir les produits</a>
							</div>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</section>
	</main>
{% endblock %}

