{% extends "base.html.twig" %}

{% block title %}Liste des produits{% endblock %}

{% block body %}

    <main class="container my-5">
        <section class="row">
            <div class="col">
                <h1>Liste des produits</h1>
            </div>
        </section>
    </main>
    
{% endblock %}