{% extends "base.html.twig" %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="container my-5">
        <div class="row ">
        {% include "_partials/_adminnav.html.twig" %}
            <main class="col-9 border border-light bg-white p-2 rounded-4">
                <h1 class="text-dark">Tableau de bord</h1>
            </main>
        </div>
    </div>
{% endblock %}